
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.signin-form-wrapper {
  margin: 0 auto;
  width: 250px;
}

.width99 {
  width: 99%;
}

.clear {
  clear: both;
}

.checkbox-inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.display-inline {
  display: inline-block;
}

.red {
  color: #a54646 !important;
}

